/* Estilos para dispositivos de tela grande (computadores e tablets) */
@media (min-width: 768px) {
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-image: url('gasoline_background2.jpg');
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  
  /* Estilos para dispositivos de tela pequena (celulares) */
  @media (max-width: 767px) {
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-image: url('person-spending-time-gas-stationMB.jpg');
      
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  